# Terraform files
*.tfstate
*.tfstate.backup
*.tfplan
*.lock.hcl
**/.terraform/providers/*

# Ssh keys
*.pem

# Ignore jenkins_plugins folder except .gitkeep
**/jenkins_plugins/*
!**/jenkins_plugins/.gitkeep
!**/jenkins_plugins/plugins.yaml

# Ignore .env/env.local.env files
.env/env.local

# Ignore RSA temp files
*_rsa*